@import "css/fonts.css";
@import url('css/header.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: #ffffff;
    color: #333333;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


.container {
    max-width: 1780px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}


.section-title {
    font-size: 36px;
    font-weight: 700;
    color: #4447ff;
    margin-bottom: 40px;
}

header {
    background-color: #fff;
    box-shadow: 0 12px 57px 0 rgba(0, 0, 0, 0.25);
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}



.logo img {
    height: 40px;
    width: 40px;
}


.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 25px;
}

.main-nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-weight: normal;
    padding: 5px 10px;
    transition: all 0.3s ease ;
    gap: 13px;
}

.main-nav a:hover {
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    background: linear-gradient(160deg, #3647FF, #1625CE);
}

.main-nav a:hover img {
    filter: brightness(0) invert(1);
}

.main-nav svg:hover {
    color: #3647FF;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.language-switcher {
    margin-right:50px;
    box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.25);
}

.lang-button {
    background-color: #fff;
    box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
    cursor: pointer;
}

.lang-button.active {
    background: linear-gradient(160deg, #3647FF, #1625CE);
    color: #fff;
    margin-right: -4PX;
    border-top-left-radius:5px ;
    border-bottom-left-radius:5px ;
}

.lang-button.noactive{
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
    color: #666;
}

.lang-button:hover {
    background: linear-gradient(160deg, #3647FF, #1625CE);
    color: #fff;
}


.user-profile a {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: rgba(48, 64, 245, 0.15);
    color: #1625CE;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 15px;
}

.user-profile img {
    margin-right: 6px;
}
/*main*/
.main-flex{
    width: 589px;
    height: auto;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(31, 49, 240, 1);
    background: linear-gradient(90deg, rgba(139, 220, 255, 1) 0%, rgba(237, 192, 255, 1) 100%);
    border-radius: 50px;
    padding: 15px 0;
}

h1{
    font-size: 128px;

}
.text{
    font-size: 32px;
}

.blue-text{
    color: rgba(54, 71, 255, 1);
}

.pink-gradient {
    background: linear-gradient(160deg, #3647FF, #1F31F0, #F40FE5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline;
}

.blue-gradient{
    background: linear-gradient(160deg, #5627FF, #00FFEA);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline;
}

.green-gradient{
    background: linear-gradient(160deg, #D014FF, #FF005E);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline;

}


.head-translate {
    box-shadow: 0 12px 57.8px rgba(0, 0, 0, 0.25);
    padding: 20px 65px;
}



.auth{
    padding:10px 30px;
    border-radius: 15px;
    background: rgba(0, 119, 255, 0.47);
}


.statistics {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    max-width: 70%;
    margin-top: 30px;
    font-weight: normal;
}

.statistic-item {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: #555;
    margin-right: 40px;
}

.statistic-item:last-child {
    margin-right: 0;
}

.statistic-item svg {
    color: #90EE90;
    margin-right: 10px;
    font-size: 1.5em;
}


.statistic-value {
    font-weight: bold;
}

.main_img{
    position: absolute;
    right: -350px;
    top: 5px;
    z-index: -1;
}
main{
    position: relative;
    overflow: hidden;
}

.main_el_pink{
    position: absolute;
    right:1340px;
    top: 20px;
    z-index: -1;
}

.main_el_blue{
    position: absolute;
    right:950px;
    top:420px;
    z-index: -1;
}

.trust-section {

    margin: 0 auto;
    padding: 80px 20px;
    text-align: left;
    font-family: Arial, sans-serif;
}

.trust-header {
    margin-top: 185px;
    margin-bottom: 60px;
}


.divider {
    height: 2px;
    background: #fff;
    margin: 60px auto;
    max-width: 200px;
}

.tools-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 40px;
    margin-top: 60px;
    background-color: white;

}

.tool-item {
    flex: 1;
    min-width: 200px;
    width: 432px;
    height: 316px;
    border-radius: 15px;
    box-shadow: 0 12px 57.8px rgba(0, 0, 0, 0.25);
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.icon-wrapper {
    padding: 25px;
    border-radius: 60px;
    margin-bottom: 24px;
    display: flex;
    align-items: flex-start;

}

.card-1 .icon-wrapper {
    background: linear-gradient(160deg, #00508e, #008bff);
}

.card-2 .icon-wrapper {
    background: linear-gradient(160deg, #36FFDD, #F40FE5);
}

.card-3 .icon-wrapper {
    background: linear-gradient(160deg, #FF6B00, #FFD700);
}

.card-4 .icon-wrapper {
    background: linear-gradient(160deg, #8E44AD, #3498DB);
}

.card-5 .icon-wrapper {
    background: linear-gradient(160deg, #27AE60, #2ECC71);
}

.card-6 .icon-wrapper {
    background: linear-gradient(160deg, #ff00fb, #F39C12);
}
.tool-item img {
    width: 40px;
    height: 40px;
    filter: brightness(0) invert(1);
}

.tool-item > .icon-wrapper{
    border-radius: 60px;
}

.tool-number {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin-bottom: 12px;
    line-height: 1.2;
    text-align: left;
}

.tool-label {
    font-size: 16px;
    color: #666;
    line-height: 1.4;
    text-align: left;
    margin-bottom: 20px;
    flex-grow: 1;
}

.advantages-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1420px;
    margin: 0 auto;
    padding: 60px 0;
}

.advantage-item {
    flex: 0 1 calc(25% - 30px);
    min-width: 280px;
    width: 326px;
    height: 258px;
    border-radius: 15px;
    box-shadow: 0 12px 57.8px rgba(0, 0, 0, 0.25);
    padding: 30px 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.icon-wrapper {
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card-1 .icon-wrapper {
    background: linear-gradient(160deg, #00508e, #008bff);
}

.card-2 .icon-wrapper {
    background: linear-gradient(160deg, #36FFDD, #F40FE5);
}

.card-3 .icon-wrapper {
    background: linear-gradient(160deg, #FF6B00, #FFD700);
}

.card-4 .icon-wrapper {
    background: linear-gradient(160deg, #8E44AD, #3498DB);
}

.advantage-item img {
    width: 32px;
    height: 32px;

}

.advantage-title {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-bottom: 12px;
    line-height: 1.2;
}

.advantage-description {
    font-size: 14px;
    color: #666;
    line-height: 1.4;
    margin-bottom: 15px;
    flex-grow: 1;
}

.advantage-stat {
    font-size: 16px;
    font-weight: 600;
    color: #3647ff;
    display: inline-block;
}

.btn-demo:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 25px rgba(244, 15, 229, 0.3);
}

.gold-gradient{
    background: linear-gradient(to right, rgb(255, 112, 35) 0%, rgb(255, 204, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.icon-stat{
    display: flex;
    align-items: center;
    justify-content: center;
}

.stat-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
}

.stat-title > p{
    color: #36FE9A;
    font-size: 20px;
}

.stat-title > .stat-neg-title{
    color: #ff0000;
    font-size: 20px;
}

.dashboard > img {
    margin-right: 67px;
}

.advanced-analytics{
    display: flex;
    background: #fff;
    align-items: center;
}