@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;

}


@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;

}

body {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

h1 {
    font-family: 'Kanit', Arial, sans-serif;
    font-size: 128px;
    font-weight: 700;
    letter-spacing: normal;
}
h2 { font-size: 64px; font-weight: 700; }
h3 { font-size: 45px; font-weight: 700; }
h4 { font-size: 36px; font-weight: 600; }
p, .card-title { font-size: 32px; font-weight: 500; letter-spacing: 0.12em; }
.card-title { font-size: 32px; font-weight: 500; letter-spacing: 0.12em; }
.card-description { font-size: 16px; font-weight: 400; letter-spacing: 0.12em; }
.card-lit { font-size: 12px; font-weight: 300;  }
.title { font-size: 24px; font-weight: 400; }

strong, b {
    font-weight: 700;
}

.thin-text {
    font-weight: 100;
}