* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    color: #333333;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


.container {
    max-width: 1780px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}


.section-title {
    font-size: 36px;
    font-weight: 700;
    color: #4447ff;
    margin-bottom: 40px;
}

header {
    background-color: #fff;
    box-shadow: 0 12px 57.8px 0 rgba(0, 0, 0, 0.25);
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1728px;
    margin: 0 auto;

}

.logo img {
    height: 40px;
    width: 40px;
}


.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 25px;
}

.main-nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-weight: normal;
    padding: 5px 10px;
    transition: all 0.3s ease ;
    gap: 13px;
}

.main-nav a:hover {
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    background: linear-gradient(160deg, #3647FF, #1625CE);
}

.main-nav a:hover img {
    filter: brightness(0) invert(1);
}

.main-nav svg:hover {
    color: #3647FF;
}

.header-right {
    display: flex;
    align-items: center;
}

.language-switcher {
    margin-right:50px;
    box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.25);
}

.lang-button {
    background-color: #fff;
    box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
    cursor: pointer;
}

.lang-button.active {
    background: linear-gradient(160deg, #3647FF, #1625CE);
    color: #fff;
    margin-right: -4PX;
    border-top-left-radius:5px ;
    border-bottom-left-radius:5px ;
}

.lang-button.noactive{
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
    color: #666;
}

.lang-button:hover {
    background: linear-gradient(160deg, #3647FF, #1625CE);
    color: #fff;
}


.user-profile a {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: rgba(48, 64, 245, 0.15);
    color: #1625CE;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 15px;
}

.user-profile img {
    margin-right: 6px;
}

