@import "css/fonts.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: #ffffff;
    color: #333333;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


.container {
    max-width: 1780px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}


.section-title {
    font-size: 36px;
    font-weight: 700;
    color: #4447ff;
    margin-bottom: 40px;
}

header {
    background-color: #fff;
    box-shadow: 0 12px 57.8px 0 rgba(0, 0, 0, 0.25);
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1728px;
    margin: 0 auto;

}

.logo img {
    height: 40px;
    width: 40px;
}


.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 25px;
}

.main-nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-weight: normal;
    padding: 5px 10px;
    transition: all 0.3s ease ;
    gap: 13px;
}

.main-nav a:hover {
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    background: linear-gradient(160deg, #3647FF, #1625CE);
}

.main-nav a:hover img {
    filter: brightness(0) invert(1);
}

.main-nav svg:hover {
    color: #3647FF;
}

.header-right {
    display: flex;
    align-items: center;
}

.language-switcher {
    margin-right:50px;
    box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.25);
}

.lang-button {
    background-color: #fff;
    box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
    cursor: pointer;
}

.lang-button.active {
    background: linear-gradient(160deg, #3647FF, #1625CE);
    color: #fff;
    margin-right: -4PX;
    border-top-left-radius:5px ;
    border-bottom-left-radius:5px ;
}

.lang-button.noactive{
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
    color: #666;
}

.lang-button:hover {
    background: linear-gradient(160deg, #3647FF, #1625CE);
    color: #fff;
}


.user-profile a {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: rgba(48, 64, 245, 0.15);
    color: #1625CE;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 15px;
}

.user-profile img {
    margin-right: 6px;
}



.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20px 68px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.btn--blue {
    width: 361px;
    height: 64px;
    border: 1px solid #0040FF;
    color: #0040FF;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn--blue:hover { background-color: #a6baff; transform: translateY(-1px); }

.btn--full { width: 100%; }

.btn--white { background: #fff; color: #5E72E4; }
.btn--outline-white { border: 1px solid #fff; color: #fff; }

.card {
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
    overflow: hidden;
}

.section { padding: 60px 0; }
.section__title {
    font-size: 64px;
    color: #0040FF;
    font-weight: 800;
    margin-bottom: 40px;
    text-align: center;
}


.hero__container,
.section__container,
.footer__container {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}





.hero { text-align: center; padding: 80px 0 100px; }
.hero__container {
    align-items: center;
}

.hero__title {
    font-size: 96px;
    color: #3647FF;
    font-weight: 800;
    margin-bottom: 20px;
}
.hero__subtitle {
    font-size: 32px;
    color: #575757;
    max-width: 1000px;
    margin-bottom: 40px;
}

.stats-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.stat-card {
    flex: 1;
    padding: 25px;
    text-align: center;
    min-width: 200px;
}

.stat-card__val { font-size: 40px; font-weight: 800; color: #0040FF; margin-bottom: 5px; }
.stat-card__label { font-size: 14px; color: #666666; margin-bottom: 15px; }
.stat-card__percent { color: #03BD41; font-weight: 700; font-size: 20px; margin-top: 10px; }
.stat-card__val > img {margin-left: 45px}


.section .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.roadmap__grid {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1780px;
}

.roadmap-card {
    width: 326px;
    height: 407px;
    padding: 30px 24px;
    text-align: center;
}

.roadmap-card__icon {
    width: 82px;
    height: 82px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    font-weight: 700;
    font-size: 18px;
}

.roadmap-card__icon--blue {background: linear-gradient(160deg, #36C9FF, #1323CA);}
.roadmap-card__icon--green { background: linear-gradient(160deg, #36fe9a, #307c7f);}
.roadmap-card__icon--orange { background: linear-gradient(160deg, #ff9d00, #ef4800); }
.roadmap-card__icon--purple { background: linear-gradient(160deg, #f40fe5, #5e36d5); }

.roadmap-card__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #000000;
}

.sp__right{
    font-weight: bold;
}

.roadmap-card__price {
    font-size: 24px;
    color: #1F31F0;
    font-weight: 900;
    margin-bottom: 15px;
}

.roadmap-card__list {
    text-align: left;
    font-size: 14px;
    list-style: none;
    color: #666666;
    margin-bottom: 20px;

}



.roadmap-card__footer {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #666;
    padding-top: 5px;
}

.guide-section {
    padding: 80px 0;
}


.guide-section__container {
    flex-direction: column;
    align-items: center;
}


.guide__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.guide-section__title {
    font-size: 64px;
    width: 1200px;
    font-weight: 800;
    color: #3647FF;
    text-align: center;
    margin-bottom: 50px;
    padding: 0 20px;
}


.guide-card {
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.guide-card__image-wrapper {
    position: relative;
    height: 180px;
    overflow: hidden;
    padding: 4px;
}

.guide-card__image-wrapper--recommended {
    padding: 0;
    border-radius: 16px 16px 0 0;
    padding: 4px;
}

.guide-card__image {
    height: 100%;
    width: 100%;
    background-color: #333;
    background-size: cover;
    background-position: center;
    border-radius: 12px 12px 0 0;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://picsum.photos/400/200?blur=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.guide-card__image-wrapper--recommended .guide-card__image {
    border-radius: 12px 12px 0 0;
}

.guide-card__badge {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 4px 25px;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 700;
    color: #fff;
    z-index: 10;
}

.guide-card__badge--green { background-color: #03BD41; }
.guide-card__badge--yellow { background-color: #FFC710; }
.guide-card__badge--red { background-color: #FF1010; }

.guide-card__content {
    padding: 25px;
    text-align: left;
}

.guide-card__title {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin-bottom: 8px;
}

.guide-card__description {
    font-size: 14px;
    color: #8898AA;
    min-height: 50px;
    margin-bottom: 15px;
}

.guide-card__meta {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 12px;
    color: #ADB5BD;
    margin-bottom: 25px;
}

.guide-card__meta-item img {
    margin-right: 5px;
    color: #ADB5BD;
}

.guide-card__meta-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;

}


.guide-card__meta-item--rating {
    margin-left: auto;
    color: #666;
    font-weight: 600;
}


.guide-card__btn {
    width: 100%;
    height: 44px;
    background-color: #3647FF;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guide-card__btn:hover {
    background-color: #3647FF;
}
.investor-guides-section {
    padding: 60px 0 100px;
    background-color: #F8F9FE;
}

.investor-guides-section__title {
    font-size: 32px;
    font-weight: 800;
    color: #5E72E4;
    text-align: center;
    margin-bottom: 50px;
    padding: 0 20px;
}

.investor-table {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.investor-table__row {
    display: flex;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    min-height: 180px;
    overflow: hidden;
}

.investor-table__column {
    padding: 25px 30px;
}

.investor-table__column--type {
    flex-basis: 40%;
    min-width: 350px;
    border-left: none;
}

.investor-table__column--pros,
.investor-table__column--cons {
    flex-basis: 30%;
    flex-grow: 1;
}

.investor-type {
    display: flex;
    flex-direction: column;
}

.investor-type__icon {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 15px;
}

.investor-type__icon--blue { background: linear-gradient(160deg, #4181F8, #36FFDD); }
.investor-type__icon--purple { background: linear-gradient(160deg, #5e36d5, #f40fe5); }
.investor-type__icon--orange { background: linear-gradient(160deg, #EF4800, #FFAD08); }

.investor-type__title {
    font-size: 18px;
    font-weight: 700;
    color: #32325D;
    margin-bottom: 5px;
}

.investor-type__description {
    font-size: 14px;
    color: #8898AA;
    margin-bottom: 15px;
}

.investor-type__meta {
    font-size: 12px;
    color: #ADB5BD;
    line-height: 1.4;
}

.investor-type__meta span {
    display: block; /* Каждый мета-пункт на новой строке */
}

/* --- ПЛЮСЫ / СООБРАЖЕНИЯ (Pros/Cons) --- */

.investor-table__heading {
    font-size: 16px;
    font-weight: 700;
    margin-top: 45px;
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.investor-table__heading span{
    margin-left: 8px;
}

.head--description--green{
    color: #03BD41;
}

.head--description--red{
    color: #FF1010;
}

.investor-table__heading--green { color: #2DCE89; margin-right: 20px;}
.investor-table__heading--red { color: #FB6340; }

/* Имитация точки перед заголовком */
.investor-table__heading--green::before,
.investor-table__heading--red::before {
    content: "•";
    font-size: 30px;
    line-height: 1;
    margin-right: 8px;
    transform: translateY(-2px);
}

.investor-table__list {
    font-size: 14px;
    color: #525F7F;
    padding-left: 0;
}

.investor-table__list li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 8px;
    list-style: none; /* Убираем стандартные маркеры */
}

/* Имитация маркера списка (точка) */
.investor-table__list--pros li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #2DCE89; /* Зеленый маркер для плюсов */
    font-weight: 900;
}

.investor-table__list--cons li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #FB6340; /* Красный маркер для соображений */
    font-weight: 900;
}

/* --- FOOTER --- */
.footer {
    background: #1F31F0;
    padding: 180px 0;
    color: #fff;
    text-align: center;
    margin-top: 60px;
}

.footer__container { align-items: center; } /* Центрируем */
.footer h2 { font-size: 128px; margin-bottom: 30px; max-width: 1200px; }
.footer__btns { display: flex; gap: 20px; }