@import "css/fonts.css";

* { margin:0;
    padding:0;
    box-sizing:border-box; }
body {
    font-family:'Inter',sans-serif;
    background: #EFF5FE;
    color: #333;
    line-height: 1.6;
}
a {
    text-decoration:none;
    color:inherit; }
ul {
    list-style:none; }
img {
    max-width:100%; display:block; }


.container {
    max-width: 1780px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

header {
    background-color: #fff;
    box-shadow: 0 12px 57.8px 0 rgba(0, 0, 0, 0.25);
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
    position: sticky; /* Прилипает при достижении */
    top: 0;          /* Фиксируется в 0px от верха */
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1728px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 40px;
    width: auto;
}

.main-nav .nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.main-nav .nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.main-nav ul {
    display: flex;
    align-items: center;
    gap: 25px;
}

.main-nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-weight: normal;
    padding: 5px 10px;
    transition: all 0.3s ease;
    gap: 13px;
}

.main-nav a:hover {
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    background: linear-gradient(160deg, #3647FF, #1625CE);
}

.main-nav a:hover img {
    filter: brightness(0) invert(1);
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.language-switcher {
    box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.25);
    display: flex;
}

.lang-button {
    background-color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    font-family: inherit;
    font-size: 14px;
}

.lang-button.active {
    background: linear-gradient(160deg, #3647FF, #1625CE);
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.lang-button.noactive {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #666;
}

.lang-button:hover {
    background: linear-gradient(160deg, #3647FF, #1625CE);
    color: #fff;
}

.user-profile a {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: rgba(48, 64, 245, 0.15);
    color: #1625CE;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 15px;
}

.user-profile img {
    margin-right: 6px;
}


.menu-toggle {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 1001;
}

.menu-toggle span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #333;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.menu-toggle span:nth-child(1) {
    top: 0px;
}

.menu-toggle span:nth-child(2) {
    top: 10px;
}

.menu-toggle span:nth-child(3) {
    top: 20px;
}

.menu-toggle.open span:nth-child(1) {
    top: 10px;
    transform: rotate(135deg);
}

.menu-toggle.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.menu-toggle.open span:nth-child(3) {
    top: 10px;
    transform: rotate(-135deg);
}
@media (max-width: 1320px) {
    .menu-toggle { display: flex; }
    .main-nav, .header-right { display: none !important; }
}
@media (max-width: 992px) {
    .container {
        padding: 0 10px; }
    .menu-toggle {
        display: flex; }
}

.menu-overlay {
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index:999;
}
.menu-overlay.active {
    display:block; }
.mobile-nav {
    position:fixed; top:0; right:-300px;
    width:300px; height:100%; background:#fff;
    box-shadow:-2px 0 10px rgba(0,0,0,0.1);
    transition:right 0.3s;
    z-index:1000;
    padding:20px;
    display:flex;
    flex-direction:column;
}
.mobile-nav.open {
    right:0; }

.mobile-nav-header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-bottom:20px;
    margin-bottom:20px;
    border-bottom:1px solid #eee;
}
.mobile-nav .language-switcher {
    box-shadow:none; }
.mobile-nav .nav-menu {
    flex-direction:column;
    gap:15px;}
.mobile-nav .nav-menu li a {
    display:flex;
    align-items:center;
    padding:10px;
    border-radius:5px;
    transition:background-color 0.2s;
    font-weight:bold;
}
.mobile-nav .nav-menu li a img {
    margin-right:10px;
    width:24px;
    height:24px; }
body.menu-open {
    overflow:hidden; }

.dashboard-container {
    width: 100%;
    max-width: 1728px;
    margin: 0 auto;
    padding: 48px 0;
    position: relative;
}
.welcome-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 44px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 18px;
    flex-wrap: wrap;
}
.user-info {
    display:flex;
    align-items:center;
    gap:28px; }
.user-avatar {
    width:80px;
    height:80px;
    border-radius:50%;
    margin-right:18px;}
.user-info h1, .welcome-section h1 {
    margin: 0 0 5px 0;
    font-size:2em;
    font-weight:bold;
    color: #1F31F0;
}
.user-info p {
    margin:0;
    font-size:1em;
    color:#888;}
.member-since {
    font-size:1em;
    margin-top:2px;}
.account-health-badges {
    display:flex; gap:14px;}
.badge {
    padding:7px 14px; border-radius:8px; font-size:0.98em; font-weight:bold;}
.health-good {
    background:#e8f5e9; color:#4caf50; border:1px solid #4caf50;}
.health-white {
    background:#fff; color:#575757; border:1px solid #575757; }

.kpi-cards {
    display: flex; gap: 36px;
    margin-bottom: 44px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.kpi-card {
    margin-bottom: 0;
    padding: 32px 28px;
    display:flex; flex-direction:column;
    flex:1 1 350px;
    min-width:220px; max-width:420px;
    background:#fff; border-radius:20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    box-sizing:border-box; height:230px;
}
.kpi-header { display:flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 18px;}
.kpi-icon {
    border-radius:14px;
    padding:15px;
    display:flex;
    align-items:center;
    justify-content:center;}
.money{
    background:linear-gradient(160deg,#0C8F8F,#57E592);}
.growth{
    background:linear-gradient(160deg,#1323CA,#36C9FF);}
.conversion{
    background:linear-gradient(160deg,#EF4800,#FFCB14);}
.clients{
    background:linear-gradient(160deg,#9A23BD,#FF2B91);}
.stat-title {
    display: flex; align-items: center; gap: 10px;}
.stat-title>p {
    color: #36FE9A; font-size:18px; margin:0;}
.stat-title .stat-neg-title {
    color: #ff0000; font-size:18px;}
.kpi-value {
    font-size:1.8em; font-weight:bold; margin:0;}

.analytics-actions-block { margin: 38px 0; }
.tab-navigation {
    display: flex; gap: 16px;
    margin-top: 38px;
    margin-bottom: 38px;
    padding: 12px 8px;
    background:linear-gradient(270deg,#D7D7D7,#fff);
    border-radius:25px; box-shadow:0 2px 4px rgba(0,0,0,0.05);
    flex-wrap:wrap;
    justify-content: space-between;
}
.tab-button {
    background: none;
    border: none;
    padding: 10px 70px;
    display: flex;
    justify-content: center;
    align-items: center; cursor: pointer;
    font-weight: 500; color: #666; border-radius: 4px;
    font-size: 1em; transition:background-color 0.2s; margin-right:12px;
}
.tab-navigation .active {
    background: #fff;
    border-radius:25px;
    box-shadow:8px 0 10px rgba(0,0,0,0.09);
}

.columns-wrapper { display: flex;
    gap: 44px;
    margin-bottom: 38px;
    flex-wrap:wrap;}
.main-left-column, .main-right-column {
    flex: 1 1 420px;
    min-width:270px;
    max-width:900px;
    display:flex;
    flex-direction:column;
    padding:0;
}
.revenue-trend-box, .quick-actions-box {
    margin-bottom:0;
    padding: 30px 22px;}
.revenue-trend-box {
    background:#fff;
    border-radius:8px;
    box-shadow:0 4px 8px rgba(0,0,0,0.15);}
.revenue-trend-box img {
    width:100%;
    height:auto;
    border-radius:8px; }
.quick-actions-box {
    background:#fff;
    border-radius:8px;
    box-shadow:0 4px 15px rgba(0,0,0,0.17);}
.quick-actions-box h3 {
    font-size:24px;
    color:#575757;
    font-weight:400;
    margin-bottom:32px;}
.action-list {
    margin-top:24px;
    gap:17px;
}
.action-list li {
    width:100%;
    padding: 11px 15px;
    border-radius:11px;
    border:1px solid #A5A5A5;
    margin-bottom:10px;
    display: flex;
    align-items:center;
    gap:10px;
}
.action-list a {
    display: flex;
    align-items: center;
    color: #000;
    font-size:1em;}
.action-icon {
    width:34px;
    height:34px;
    margin-right:10px;
    border-radius:5px;
    display:flex;
    align-items:center;
    justify-content:center; }
.import{
    background:linear-gradient(160deg,#1323CA,#36C9FF);}
.clients{
    background:linear-gradient(160deg,#9A23BD,#FF2B91);}
.commands{
    background:linear-gradient(160deg,#9721FF,#1323CA);}
.star{
    background:linear-gradient(160deg,#0C8F8F,#57E592);}
.action-icon img {
    width:16px;
    height:16px;
    filter:brightness(0) invert(1);
}

.performance-activity-block {
    display: flex;
    gap: 32px;
    margin-top:50px;
    margin-bottom:58px;
    flex-wrap:wrap;
}
.left-column, .right-column {
    flex: 1 1 420px;
    min-width:260px;
    max-width:900px;
    display:flex;
    flex-direction:column;
}
.performance-box, .activity-box {
    background:#fff;
    padding: 26px 20px;
    border-radius:8px;
    box-shadow:0 4px 15px rgba(0,0,0,0.19);
    min-height:350px;
    margin-bottom:0;
}
.progress-item {
    margin-bottom:22px;
    padding-bottom:6px; }
.progress-item p {
    margin:0 0 5px 0;
    font-size:1em;
    width:60%; }
.progress-bar-container {
    background:#e0e0e0;
    border-radius:4px;
    height:8px; margin:5px 0;
    width:70%;
    display:inline-block; }
.progress-bar {
    height:100%;
    background:#0040FF;
    border-radius:4px;}
.progress-text {
    margin-left:80px;
    font-size:1em;
    color:#575757; }
.activity-list {
    margin-top:14px;
    gap:15px;
    padding:0; }
.activity-list li {
    margin:0;
    padding:7px 0 7px 34px;
    font-size:18px;
    font-weight:500;
    position:relative;}
.activity-dot {
    position:absolute;
    left:0;
    top:5px;
    width:20px;
    height:20px;
    border-radius:50%; }

.activity-dot img{
    width:12px;
    display: flex;
    margin: 0 auto;
    margin-top: 3px;
}

.dot-pink{
    background:#36C9FF;}
.dot-blue{background:#F40FE5;}
.dot-green{background:#F40FE5;}
.dot-purple{background:#36FE9A;}
.activity-time { display:block;
    font-size:0.8em;
    color:#999;
    margin-top:3px; }

.main_el_pink, .main_el_blue {
    position:absolute;
    z-index:-1;
    opacity:0.55; }
.main_el_pink{
    right:calc(82% - 12vw);
    top:6vh; max-width:260px;
    min-width:60px; width:18vw;}
.main_el_blue{
    right:calc(40% - 7vw);
    top:27vh;
    max-width:218px;
    min-width:50px;
    width:13vw; }

@media (
max-width: 1320px) {
    .kpi-cards {
        gap: 22px; }
    .columns-wrapper {
        gap: 16px; }
    .performance-activity-block {
        gap: 18px;}
}
@media (max-width: 1100px) {
    .dashboard-container {
        padding-left:8px; padding-right:8px;}
    .header-container {
        padding-left:8px; padding-right:8px;}
}
@media (max-width: 992px) {
    .container,.header-container {
        padding:0 6px;}
    .dashboard-container {
        padding-top:18px;
        padding-bottom:14px;}
    .welcome-section {
        gap:18px;
        padding-top:18px;
        padding-bottom:18px;}
    .main_el_pink,.main_el_blue {
        display: none; }
    .kpi-cards,.columns-wrapper,.performance-activity-block {
        flex-direction:column;
        gap:11px;
        margin-bottom: 16px;}
    .main-left-column,.main-right-column,.left-column,.right-column {
        min-width:unset;
        max-width:100%;
        width:100%; }
    .kpi-card{
        max-width:80%;
        width:80%;
        margin: 0 auto;
    }
    .revenue-trend-box,.quick-actions-box,.performance-box,.activity-box {
        padding:12px 7px; }
    .action-list {
        margin-top:6px;
        gap:7px; }
    .action-list li {
        padding:8px 6px;}
}
@media (max-width: 768px) {
    header {
        padding: 5px 0;}
    .container,.header-container {
        padding:0 4px;}
    .dashboard-container {
        padding-top:8px; padding-bottom:8px;}
    .welcome-section {
        gap:8px;
        padding-top:8px;
        padding-bottom:8px;}
    .kpi-cards,.columns-wrapper,.performance-activity-block {
        gap:7px;}
    .main_el_pink, .main_el_blue {
        display:none; }
    .tab-navigation {
        flex-wrap: wrap;
        margin-top:13px;
        margin-bottom:10px;
        gap:6px;
        padding:8px 2px;}
    .tab-button {
        padding:8px 10px;
        margin-right:5px;}
    .tab-navigation .active {
        margin-right:5px;}
    .action-list li {
        font-size:14px;}
    .activity-list {
        margin-top:5px;
        gap:5px;}
    .activity-list li {
        padding-top:3px;
        padding-bottom:3px;}
    .kpi-card {
        padding:8px 3px;}
    .revenue-trend-box,.quick-actions-box {
        padding:12px 5px;}
    .performance-box,.activity-box {
        padding:8px 5px;}
    .user-info h1,.welcome-section h1 {
        font-size:18px;}
}
@media (max-width: 480px) {
    .container,.header-container {
        padding:0 2px;}
    .dashboard-container {
        padding-top:7px;
        padding-bottom:7px;}
    .welcome-section {
        padding-top:4px;
        padding-bottom:4px;}
    .kpi-cards,.columns-wrapper,.performance-activity-block {
        gap:3px; }
    .kpi-card,.main-left-column,.main-right-column,.left-column,.right-column {
        padding:4px 1.5px;}
    .kpi-card { min-width: unset;
        max-width: 100%; }
    .tab-button { width: 100%;
        margin-right:0; }
    .main_el_pink,.main_el_blue {
        display:none;}
    .user-info h1,.welcome-section h1 {
        font-size:14px;}
}